<div class="card my-3">
    <div class="card-header text-center">UserID: {{ id }}</div>
    <div class="card-body">
        <p>Name: {{ name }}</p>
        <p>Email: {{ email }}</p>
        <p>Phone: {{ phone }}</p>
        <p>Website: {{ website }}</p>
        <p>Company Name: {{ company.name }}</p>
    </div>
</div>