<div class="card my-3">
    <div class="card-header text-center">UserID: <%= user.id %></div>
    <div class="card-body">
        <p>Name: <%= user.name %></p>
        <p>Email: <%= user.email %></p>
        <p>Phone: <%= user.phone %></p>
        <p>Website: <%= user.website %></p>
        <p>Company Name: <%= user.company.name %></p>
    </div>
</div>