<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="<%= message %>">

    <title><%= title %></title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
  </head>
  <body>
    <%- include('partials/_navbar') %>

    <div class="jumbotron text-center">
        <div class="container">
            <h1><%= title %></h1>
            <p class="lead text-muted"><%= message %></p>
        </div>
    </div>

    <div class="container my-3">
        <div class="row">
            <% users.forEach(function (user) { %>
                <div class="col-md-4">
                    <%- include('partials/_card', {user: user}) %>
                </div>
            <% }) %>
        </div>
    </div>

    <script src="/js/jquery-3.4.1.slim.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/popper.min.js"></script>
  </body>
</html>